.filterContainer,.filterChip{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding:1%
}

.filterContainer{
    width:80%;
}
.filterChip{
    border-radius: 5px;
    height: fit-content;
    width:15%;
    margin:10px;
}
.filterChip:hover{
    cursor: pointer;
}